@import 'vars';

.functionality {
  background: linear-gradient(to top, $white , #FBFDFE);
}

.functionality-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 780px){
    flex-direction: column;
  }
}
.functionality-block_item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px 100px;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  @media screen and (max-width: 780px){
    margin: 0;
  }
}
.fb_item-img {
  height: 160px;
  width: 160px;
  margin-bottom: 20px;
  @media screen and (max-width: 780px){
    margin-bottom: 0;
  }
  display: flex;
}
.fb_item-text {
  font-family: $sunflower;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #305F6D;
  @media screen and (max-width: 780px){
    font-size: 14px;
  }
}

.functionality-title {
  font-size: 28px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $gray;
  padding-top: 60px;
  margin-bottom: 50px;
  @media screen and (max-width: 780px){
    padding-top: 20px;
    margin-bottom: 15px;
    font-size: 20px;
  }
}