@import 'vars';
.header {
  margin-bottom: 20px;
  background: $white;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3em 0 2em;
  @media screen and (max-width: 780px){
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .logo {
    flex: 1;
    margin-left: 30px;
    @media screen and (max-width: 780px){
      margin-left: 0;
      margin-bottom: 10px;
    }
    a {
      img {
        display: block;
        width: 191px;
        height: 45px;
      }
    }

  }
  .nav-main {
    margin-left: 20%;
    margin-right: 30px;
    flex: 1;
    font-family: 'Sunflower', sans-serif;
    font-weight: bold;
    line-height: 20px;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      @media screen and (max-width: 780px){
        display: flex;
        width: 400px;
      }
      li {
        a {
          color: $dark-blue;
          transition: color .5s ease-in-out;
          &:hover {
            color: $light-blue;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1080px){
    .nav-main {
      margin-left: 0;
      flex: 2;
    }
  }
}


.header-bottom {

}

.header-block {
  position: relative;
  display: flex;
}

.map {
  width: 80%;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 420px;
  display: flex;
  position: relative;
  img{
    flex: 1;
    position: absolute;
    right: -33%;
    width: 67%;
    top: -7%;
  }

  @media screen and (max-width: 1080px){
    width: 100%;
    img{
      top: 18%;
      width: 35%;
      right: 10%;
    }
  }

}
.header-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 60px 80px 60px 0;
  @media screen and (max-width: 1080px){
    margin: 60px 20px 60px 20px;
  }
}

.ht-title {
  font-family: $sunflower;
  font-weight: bold;
  font-size: 42px;
  line-height: 52px;
  color: $dark-blue;
}
.ht-text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: $gray;
  width: 50%;
}
.ht-link {
  line-height: 26px;
  letter-spacing: 0.03em;
  color: $light-blue;
  transition: color .4s ease-in;
  &:hover {
    color: $dark-blue;
  }
}



