@import 'vars';
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3em 0 1em;
  padding: 0 2em;

  .logo {
    flex: 1;
    a {
      img {
        display: block;
        border-radius: 5px;
        width: 191px;
        height: 45px;
        transition: 1s background-color ease-in-out;
        &:hover {
          background: darken($white, 5%);
        }
      }
    }
  }
  .nav-main {
    margin-left: 20%;
    flex: 1;
    font-family: 'Sunflower', sans-serif;
    font-weight: bold;
    line-height: 20px;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      li {
        a {
          color: #305F6D;
          transition: color .5s ease-in-out;
          &:hover {
            color: #46B4D4;
          }
        }
      }

    }
  }
}

.header-block {
  background: url('../img/map.png');
  display: flex;



  .right-head {
    position: relative;

    img {
      &:first-child{
        z-index: 10;
        left: -10px;
        top: 10px;
        position: absolute;
      }

    }
  }
}