@import 'vars';
.header {
  margin-bottom: 20px;
  background: $white;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3em 0 1em;
  .logo {
    flex: 1;
    margin-left: 30px;
    a {
      img {
        display: block;
        width: 191px;
        height: 45px;
      }
    }
  }
  .nav-main {
    margin-left: 20%;
    margin-right: 30px;
    flex: 1;
    font-family: 'Sunflower', sans-serif;
    font-weight: bold;
    line-height: 20px;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      li {
        a {
          color: $dark-blue;
          transition: color .5s ease-in-out;
          &:hover {
            color: $light-blue;
          }
        }
      }
    }
  }
}


.header-bottom {

}

.header-block {
  position: relative;
  display: flex;
}

.map {
  //position: absolute;
  //margin: 0 auto;
  width: 80%;
  //flex: 1;
  //width: 50%;
  background: url('../img/map.png') no-repeat 100% 100%;
  height: auto;
  display: flex;
}
.header-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 60px 80px 60px 0;
}

.image {
  //flex: 1;
  width: 50%;


  img {
    display: block;


    &:first-child {
      position: absolute;
      z-index: 22;
    }
    &:last-child {
      position: relative;
      //transform: rotate(-21deg);
      top: -10px;
      left: 10px;
    }
  }
}

.ht-title {
  font-family: $sunflower;
  font-weight: bold;
  font-size: 42px;
  line-height: 52px;
  color: $dark-blue;
}
.ht-text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: $gray;
}
.ht-link {
  line-height: 26px;
  letter-spacing: 0.03em;
  color: $light-blue;
  transition: color .4s ease-in;
  &:hover {
    color: $dark-blue;
  }
}
