@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sunflower:wght@500;700&display=swap');
@import 'vars';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  max-width: 1600px;
  font-size: $main-fz;
  font-family: $roboto;
  margin: 0 auto;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}












@import 'header';
@import 'functionality';
@import 'questionary';
@import 'our_partners';
@import 'our_features';
@import 'footer';