@import 'vars';
.our_partners {
  background-color: $white;

  h2 {
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $gray;
    margin-bottom: 60px;

  }
}
.our_features-title {

}
.our_partners-carousel {
  margin-bottom: 70px;
}