// colors
$white: #ffffff;
$footer-background: #485053;
$social-icons: #919698;
$blue-background: #F5FBFD;
$dark-blue: #305F6D;
$gray: #8CA0A6;
$light-blue: #22CBFF;
$border-color: #D6E8F0;

// font
$main-fz: 16px;
$roboto: 'Roboto', sans-serif;
$sunflower: 'Sunflower', sans-serif;
